html { 100%; min-width: 450px; }
body { font-family: sans-serif; max-width: 1000px; height: 100%; margin: 1em 1em 1em 2em; font-size: 108%; border: 1px solid black; }
h1 { font-size: 138.5%; font-weight: bold; }
.inline { display: inline; }
h2 { font-size: 123.1%; font-weight: bold; padding-top: 1em; }
p { padding-top: 0.5em; }

#hd_bar { display: inline; }
#hd_bar ul, #hd_bar li {
	display: inline;
	margin: 0 0 0 10px;
}
a { text-decoration: underline; color: black; }
em { font-style: italic; }

#hd { background: #f8f8f0; margin: 0; padding: 0 0 0 0.5em; border-bottom: 1px solid black; }
#bd { padding: 0 0.5em 0 0.5em; }
#ft { font-size: 77%; padding: 1em 0 0 0.5em; clear: both; }

fieldset { border: 1px solid black; padding: 0 10px 10px 10px; }
legend { margin-left: 1em; font-weight: bold; }

.dns_record td { font-style: italic; }
