<!DOCTYPE html>
<html>
  <head>
    <title>{%block title%}toffee dns{% end %}</title>
	<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?3.1.0/build/cssreset/reset-min.css&3.1.0/build/cssfonts/fonts-min.css"> 
    <link rel="stylesheet" type="text/css" href="{{static_url('css/base.css')}}">
  </head>
  <body>
	<div id="hd">
	  <h1 class="inline">{% block header %}toffee: dns for developers{% end %}</h1>
	  <span id="hd_bar">
	  <ul>
		<li><a href="/">home</a></li>
		<li>dashboard</li>
        {% if current_user %}
		<li><a href="/logout">logout</a></li>
        {% else %}
		<li><a href="/login">sign up</a></li>
        {% end %}
	  </ul>
	  </span>
	</div> <!-- hd -->
	<div id="bd">
      {% if error_msg %}
      <div class="error_msg">
        {{error_msg}}
      </div>
      {% end %}
      {% if info_msg %}
      <div class="info_msg">
        {{info_msg}}
      </div>
      {% end %}
	{% block body %}
	{% end %}
	</div> <!-- bd -->
	<div id="ft">
	  &copy; the lexicographers, {{today.year}}
	</div> <!-- ft -->
  </body>
</html>
